/*홈 버튼*/
.home-button {
  width: 100%;
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 5px;
  text-align: left;
  color: white;
}

.home-icon {
  font-size: 24px;
  margin-right: 10px;
}

.home-text {
  font-size: 20px;
}
/*시청기록 버튼*/
.history-icon {
  margin-right: 10px;
  font-size: 18px;
}
.history-text {
  font-size: 15px;
}
/*카테고리 버튼*/
.filter-icon {
  margin-right: 10px;
  font-size: 15px;
  color: white;
}
.filter-text {
  font-size: 15px;
}

/* 영화추천 버튼 */
.recommend-icon {
  margin-right: 10px;
  font-size: 15px;
  color: white;
}
.recommend-text {
  font-size: 15px;
}