.genrevideo-list {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 20px;
  flex-wrap: wrap;
}

.genrecategory-list {
  display: flex;
  flex-direction: row;
  overflow-x: auto;
  margin-bottom: 20px;
}

.genrecategory-list button {
  padding: 10px;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 5px;
}

.genrevideo-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding-left: 2%;
  width: calc(100% - 4%);
}

.genrevideo-item {
  width: calc(30% - 20px);
  height: calc(30% - 10px);
  background-color: #f0f0f0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer;
  margin-bottom: 5%;
}
