.header {
  background-color: #1D1D1D;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.header-title {
  display: flex;
  align-items: center;
  color: #ff020f;
}

.header-logo{
  width: 25%;
}

.header-title img {
  max-width: 120px;
  height: auto;
  margin-right: 10px;
}

.header-search {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20px;
}

.search-container {
  display: flex;
  align-items: center;
}

.search-container input[type="text"] {
  width: 300px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.search-container button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #FF0000;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.search-container button:hover {
  background-color: #FF3333;
}

.header-buttons {
  display: flex;
  align-items: center;
}

.login-button {
  width: 150px; /* 너비 늘림 */
  padding: 15px; /* 패딩 늘림 */
  background-color: #e50914; /* 배경 색상 변경 */
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.login-button:hover {
  background-color: #f40612; /* Hover 시 배경 색상 변경 */
}

.join-button {
  width: 150px; /* 너비 늘림 */
  padding: 15px; /* 패딩 늘림 */
  background-color: #0f9a52; /* 배경 색상 변경 */
  border: none;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}

.join-button:hover {
  background-color: #00e676; /* Hover 시 배경 색상 변경 */
}

.profile-image-container {
  position: relative;
  width: 90px;
  height: 80px;
  cursor: pointer;
}

.profile-image-container img {
  width: 85%;
  height: 95%;
  object-fit: cover;
  border-radius: 50%;
}

.add-movie-button {
  font-size: 24px;
  padding: 10px 20px;
  background-color: transparent;
  color: rgb(255, 0, 0);
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;

  &:hover {
    background-color: rgb(85, 85, 85);
    color: rgb(116, 0, 0);
}
}

.search-input{
  background-color: #5e5e5e;
}

.search-button {
  background-color: #FF0000;
  color: #FFFFFF;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #FF3333;
}