.movieadd-container {
    max-width: 600px;
    margin: 100px auto;
    padding: 200px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .movieadd-h2 {
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  .movieadd-label {
    display: block;
    margin-bottom: 10px;
  }
  
  .movieadd-input,
  .movieadd-textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 5px;
  }
  
  .movieadd-textarea {
    resize: vertical;
    height: 120px;
  }
  
  .movieadd-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .movieadd-button:hover {
    background-color: #0056b3;
  }