.movieedit-containers {
  padding: 200px;
  border: 1px solid #1d1d1d;
  border-radius: 5px;
  background-color: #1d1d1d;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  }

  .movieedit-container{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    width: 400px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  }
  
  .movieedit-h2 {
    font-size: 24px;
    margin-bottom: 20px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .movieedit-label {
    display: block;
    font-size: 16px;
    margin-bottom: 10px;
    color: white;
    background-color: rgba(0, 0, 0, 0.8);
  }
  .movieedit-input{
    background-color: rgba(163, 163, 163, 0.8);
  }
  
  .movieedit-input[type="text"],
  .movieedit-textarea {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: rgba(163, 163, 163, 0.8);
  }
  
  .movieedit-textarea {
    height: 150px;
  }
  
  .movieedit-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .movieedit-button:hover {
    background-color: #0056b3;
  }

  .movieedit-delete-button{
    background-color: #ff0000;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
  }

  .movieedit-delete-button:hover {
    background-color: #9b0000;
  }